
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: #f0b9d9;
}


h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  display: inline;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #f0b9d9;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #e81388;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4dbec;
  color: white;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.header-link {
  color: #f0b9d9;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.header-link:hover {
  background-color: #555;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #f4dbec;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 1000px;
  overflow: hidden; 
  padding: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card img {
  max-width: 100%; 
  height: auto; 
  display: block; 
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  margin-top: 20px; 
  padding: 0 20px;
  background-color: #f4dbec;
}

.product-card {
  flex: 1 1 300px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  background-color: #f0b9d9;
  width: 200px; 
  max-height: 200px;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card-body {
  padding: 20px;
}

.product-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

