body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0b9d9;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  display: inline;
}

nav a {
  color: #f0b9d9;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction:row;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4dbec;
  color: white;
  text-align: center;
  padding: 5px 0;
  height: 100px; 
}

.header-link {
  color: #f0b9d9;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.header-link:hover {
  background-color: #555;
}

.card {
  background-color: #f4dbec;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 1000px;
  overflow: hidden; 
  padding: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card img {
  max-width: 100%; 
  height: auto; 
  display: block; 
}

